parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#1 \\$hex_string of function hexdec expects string, string\\|null given\\.$#"
			count: 1
			path: src/Color.php

		-
			message: "#^Parameter \\#1 \\$color of class Kiritokatklian\\\\LaravelColorPalette\\\\Color constructor expects array\\<int\\>\\|ColorThief\\\\Color\\|int\\|string\\|null, ColorThief\\\\Color\\|ColorThief\\\\ColorRGB\\|int\\|string given\\.$#"
			count: 1
			path: src/ColorPaletteClient.php

		-
			message: "#^Parameter \\#1 \\$color of class Kiritokatklian\\\\LaravelColorPalette\\\\Color constructor expects array\\<int\\>\\|ColorThief\\\\Color\\|int\\|string\\|null, ColorThief\\\\Color\\|ColorThief\\\\ColorRGB\\|int\\|string\\|null given\\.$#"
			count: 1
			path: src/ColorPaletteClient.php
